
= semantic_form_for @vacancy, remote: remote do |f|
 = f.inputs do
  = f.input :title, label: "Vacancy name: "
  = f.input  :contacts, label: "Contacts:"
  = f.input  :salary, label: "Desired salary:"
  = f.input  :till, label: "Actual until:"

 = f.submit "Save"
