%h1 Fill worker data:

= semantic_form_for @worker, remote: remote do |f|
 = f.inputs do
  = f.input :name, label: "Input your full name:"
  = f.input  :contacts, label: "Input your contacts:"
  = f.input  :salary, label: "Input your salary:"
  = f.input  :status, label: "Input your status:"
 = f.submit "Save"
